---
import BlogPreview from '@/components/BlogPreview.astro';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');
---

<div class="mx-auto max-w-2xl px-6 pt-16 pb-20 lg:px-8 lg:pt-24 lg:pb-28">
  <div class="relative mx-auto max-w-lg lg:max-w-7xl">
    <div class="mt-6 grid gap-16 pt-10 lg:gap-x-5 lg:gap-y-12">
      {
        blogPosts.map((frontMatter) => (
          <BlogPreview frontMatter={frontMatter} />
        ))
      }
    </div>
  </div>
</div>
